IPSP.Win/Service References/ServiceReference1/Abp.Application.Services.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Abp.Application.Services.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Abp.Application.Services.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityDtoOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityDto" nillable="true" type="tns:EntityDto" />
  <xs:complexType name="EntityDtoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Abp.Application.Services.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDtoOfint" nillable="true" type="tns:EntityDtoOfint" />
</xs:schema>