IPSP.Win/Service References/ServiceReference1/IPSP.Client.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IPSP.Client.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IPSP.Client.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IPSP.Case.Dto" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Abp.Application.Services.Dto" />
  <xs:complexType name="ClientDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Abp.Application.Services.Dto" base="q1:EntityDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IPSP.Case.Dto" minOccurs="0" name="BaseCases" nillable="true" type="q2:ArrayOfBaseCaseDto" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="s_Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
</xs:schema>